# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Data
/data/interim/
/data/processed/
/data/external/
/models/
/reports/

# OS/Editor
.DS_Store
.vscode/
.idea/

# Env/Secrets
.env
.streamlit/secrets.toml
